<%= form_with(model: @property, local: true) do |form|%>
  <% if @property.errors.any? %>
    <div>
      <h2><%= @property.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @property.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="property_name">
    <%= form.label :物件名 %><br>
    <%= form.text_field :property_name %>
  </div>
  <div class="rent">
    <%= form.label :賃料 %><br>
    <%= form.text_field :rent %>円
  </div>
  <div class="street_address">
    <%= form.label :住所 %><br>
    <%= form.text_field :street_address %>
  </div>
  <div class="age">
    <%= form.label :築年数 %><br>
    <%= form.text_field :age %>年
  </div>
  <div class="remark">
    <%= form.label :備考 %><br>
    <%= form.text_field :remark %>
  </div>
  <br>
  <div class="line"></div>
  <%= form.fields_for :nearest_stations do |nearest_station| %>
  <h2>最寄り駅 <%= nearest_station.index + 1 %></h2>
  <div class="route">
    <%= nearest_station.label :路線名 %><br>
    <%= nearest_station.text_field :route %>
  </div>
  <div class="station">
    <%= nearest_station.label :駅名 %><br>
    <%= nearest_station.text_field :station %>
  </div>
  <div class="minutes_walk">
    <%= nearest_station.label :徒歩分数 %><br>
    <%= nearest_station.text_field :minutes_walk %>分<br>
  </div>
  <% end %>
  <br>
  <%= form.submit '登録する' %>
<% end %>
