<h1>閲覧</h1>
<p>物件名: <%= @property.property_name %></p>
<p>賃料: <%= @property.rent %>円</p>
<p>住所: <%= @property.street_address %></p>
<p>築年数: <%= @property.age %>年</p>
<p>備考 <%= @property.remark %></p>
<%= link_to '編集', edit_property_path%> |
<%= link_to '戻る', properties_path %>
